<!DOCTYPE html>
<html>
<head>

<title>MathQuill Chat Demo</title>

<style type="text/css">
body{
  max-width:6.5in;
  margin: 0 auto;
}
div#chatbox p{
  margin:0 0 8pt 0;
  padding:0;
  font-family: sans-serif;
  font-size: 11pt;
}
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript" src="http://laughinghan.github.com/mathquill/mathquill.js"></script>

<script type="text/javascript" src="/faye.js"></script>

<script type="text/javascript">
$(function()
{
  var lastId, untilId;
  function appendMsg(msg)
  {
    var wasAtBottom = (chatbox[0].scrollHeight - chatbox.scrollTop() <= chatbox.outerHeight());
    chatbox.append('<p><b>'+msg.name+':</b> '+decodeURIComponent(msg.message));
    if(wasAtBottom)
       chatbox.scrollTop(chatbox[0].scrollHeight);
  }
  function parseResponse(response)
  {
    lastId = response.last_id;
    for(var i = 0; i < response.messages.length; i += 1)
      appendMsg(response.messages[i]);
  }
  var gettingOlder = false, chatbox = $('#chatbox');
  function getOlder(){
    if(gettingOlder || chatbox.scrollTop() > 200)
      return;
    gettingOlder = true;
    if(untilId > 1) // get one extra to see if there are any more
      $.getJSON('/rooms/<%=@room.name%>/message', { start: untilId-11, end: untilId }, function(response) {
        untilId -= 10;
        for(var i = 0; i < Math.min(response.messages.length,10); i += 1)
          chatbox.scrollTop(chatbox.scrollTop()+$('<p><b>'+response.messages[i].user+':</b> '+decodeURIComponent(response.messages[i].content)+'</p>').prependTo(chatbox).outerHeight(true));
       gettingOlder = false;
       if (response.messages.length <= 10)
         untilId = 0;
    });
  }
  //first request get last 10 messages
  $.getJSON('/rooms/<%=@room.name%>/messages', { start: -10, end: -1 }, function(response)
  {
    if(!response || !response.status){
      $('#loading').text('Oops, sorry, there was a problem loading messages.');
      return;
    }
    $('#loading').remove();
    parseResponse(response);
    untilId = lastId - 9;
    //now that the first request went through, all the initialization code
    chatbox.scroll(getOlder);
    var faye = new Faye.Client('/faye', {timeout: 120});
    faye.subscribe('/<%=@room.name%>', function(msg)
    {
      appendMsg(msg);
    });
    var preventDefault;
    $('.mathquill-textbox').keydown(function(e)
    {
      if(e.which === 13 && !e.shiftKey && !(e.ctrlKey || e.metaKey))
      {
        faye.publish('/<%=@room.name%>', {
          name: '<%=@username%>',
          message: $(this).val()
        });
        preventDefault = true;
        return false;
      }
    }).keypress(function()
    {
      if(preventDefault)
      {
        preventDefault = false;
        return false;
      }
    });
  });
});
</script>

<h2><a href="http://laughinghan.github.com/mathquill">MathQuill Chat Demo</a></h2>

<div id="chatbox" style="height:400px;width:100%;overflow-y:scroll;border:solid black 1pt;padding:2pt">
<p id="loading">Loading...</p>
</div>

<form onsubmit="postMessage();return false">
<label>&nbsp;</label>
<p id="polling" style="color:gray;margin:0;float:right">Polling...</p>
<br>
<span class="mathquill-textbox" style="width:100%"></span>
</form>

</body>
</html>
